---
// Aeolus encounter component
---

<style>
  @import './encounter-styles.css';
</style>

<div class="encounter" id="aeolus" style="top: -200px;">
  <div class="text-bubble">
    <h3>Aeolus, Keeper of the Winds</h3>
    <p>Aeolus gives Odysseus a bag containing all the winds except the west wind. His men open it, blowing them off course.</p>
  </div>
  <div class="location-marker">
    <img src="/me/aeolia.png" alt="Aeolia" width="128" height="128" />
  </div>
  <div class="encounter-animation" id="aeolus-animation">
    <!-- Wind animation -->
    <div class="wind-scene">
      <div class="cloud cloud-1"></div>
      <div class="cloud cloud-2"></div>
      <div class="cloud cloud-3"></div>
      <div class="wind-gust gust-1"></div>
      <div class="wind-gust gust-2"></div>
    </div>
  </div>
</div> 