---
// Circe encounter component
---

<style>
  @import './encounter-styles.css';
  .circe-scene {
  position: absolute;
  bottom: 85%;
  left: 45%;
  transform: translateX(-50%);
  width: 200px;
  height: 120px;
  pointer-events: none;
  z-index: 5;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.circe-scene.active {
  opacity: 1;
}

.man-figure {
  position: absolute;
  bottom: 0;
  width: 24px;
  height: 48px;
  background: #8B4513;
  border-radius: 2px;
  animation: man-to-pig 8s ease-in-out infinite;
}

.man-figure:nth-child(1) {
  left: 20%;
  animation-delay: 0s;
}

.man-figure:nth-child(2) {
  left: 40%;
  animation-delay: 0.5s;
}

.man-figure:nth-child(3) {
  left: 60%;
  animation-delay: 1s;
}

.man-figure:nth-child(4) {
  left: 80%;
  animation-delay: 1.5s;
}

.pig-figure {
  position: absolute;
  bottom: 0;
  width: 24px;
  height: 16px;
  background: #FFB6C1;
  border-radius: 50% 50% 0 0;
  opacity: 0;
  animation: pig-appear 8s ease-in-out infinite;
}

.pig-figure:nth-child(5) {
  left: 20%;
  animation-delay: 0s;
}

.pig-figure:nth-child(6) {
  left: 40%;
  animation-delay: 0.5s;
}

.pig-figure:nth-child(7) {
  left: 60%;
  animation-delay: 1s;
}

.pig-figure:nth-child(8) {
  left: 80%;
  animation-delay: 1.5s;
}

@keyframes man-to-pig {
  0% {
    transform: scaleY(1);
    background: #8B4513;
    opacity: 1;
  }
  50% {
    transform: scaleY(0.5) scaleX(1.2) translateY(20px);
    background: #FFB6C1;
    opacity: 1;
  }
  51% {
    transform: scaleY(0.5) scaleX(1.2);
    background: #FFB6C1;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pig-appear {
  0%, 50% {
    opacity: 0;
    transform: scale(0.5);
  }
  51% {
    opacity: 1;
    transform: scale(1);
  }
  52%, 62%, 72%, 82%, 92% {
    transform: translateY(4px);
  }
  57%, 67%, 77%, 87%, 97% {
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Underworld Animation */
.underworld-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 9999;
  opacity: 0;
  transition: opacity 1s ease;
  pointer-events: none;
}

.underworld-overlay.active {
  opacity: 1;
}

.underworld-scene {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 200px;
  pointer-events: none;
  z-index: 10000;
  opacity: 0;
  transition: opacity 1s ease;
}

.underworld-scene.active {
  opacity: 1;
}
</style>

<div class="encounter" id="circe">
  <div class="text-bubble">
    <h3>Circe the Enchantress</h3>
    <p>Circe turns Odysseus' men into pigs. With Hermes' help, Odysseus resists her magic and frees his crew.</p>
  </div>
  <div class="location-marker">
    <div class="location-marker">
      <img src="/me/circe.png" alt="Circe" width="128" height="128" />
    </div>
  </div>
  <div class="encounter-animation" id="circe-animation">
    <!-- Men to pigs transformation animation -->
    <div class="circe-scene">
      <div class="man-figure"></div>
      <div class="man-figure"></div>
      <div class="man-figure"></div>
      <div class="man-figure"></div>
      <div class="pig-figure"></div>
      <div class="pig-figure"></div>
      <div class="pig-figure"></div>
      <div class="pig-figure"></div>
    </div>
  </div>
</div> 