---
// Cyclops encounter component
---

<style>
  @import './encounter-styles.css';
</style>

<div class="encounter" id="cyclops">
  <div class="text-bubble" style="top: -20px;">
    <h3>Polyphemus the Cyclops</h3>
    <p>Trapped in the cave of the one-eyed giant, Odysseus blinds him with a wooden stake and escapes by hiding under sheep.</p>
  </div>
  <div class="location-marker">
    <img src="/me/cyclops.png" alt="Cyclops" width="256" height="256" />
  </div>
  <div class="encounter-animation" id="cyclops-animation">
    <!-- Cyclops animation -->
    <div class="cyclops-scene">
      <div class="odysseus-figure"></div>
      <div class="wooden-stake"></div>
    </div>
  </div>
</div> 