---
// Laestrygonians encounter component
---

<style>
  @import './encounter-styles.css';
</style>

<div class="encounter" id="laestrygonians">
  <div class="text-bubble">
    <h3>Land of the Laestrygonians</h3>
    <p>Giant cannibals destroy all but one of Odysseus' ships. Only his own ship escapes the harbor.</p>
  </div>
  <div class="location-marker">
    <img src="/me/laestrygonians.png" alt="Laestrygonians" width="256" height="256" />
  </div>
  <div class="encounter-animation" id="laestrygonians-animation">
    <!-- Laestrygonians-specific animations can go here -->
  </div>
</div> 