---
// Lotus-Eaters encounter component
---

<style>
  @import './encounter-styles.css';
  @import './animations.css';
</style>

<div class="encounter" id="lotus-eaters">
  <div class="text-bubble">
    <h3>Land of the Lotus-Eaters</h3>
    <p>Some of Odysseus' men eat the lotus flower and lose all desire to return home. They must be dragged back to the ships.</p>
  </div>
  <div class="location-marker">
    <img src="/me/lotus.png" alt="Lotus Flower" width="128" height="128" />
  </div>
  <div class="encounter-animation" id="lotus-animation">
    <!-- Swimming men animation -->
    <div class="swimming-men">
      <div class="swimmer"></div>
      <div class="swimmer"></div>
      <div class="swimmer"></div>
      <div class="swimmer"></div>
      <div class="splash"></div>
      <div class="splash"></div>
      <div class="splash"></div>
      <div class="splash"></div>
    </div>
  </div>
</div> 