---
// Troy encounter component
---

<style>
  @import './encounter-styles.css';
  @import './animations.css';
</style>

<div class="encounter" id="troy">
  <div class="text-bubble">
    <h3>Troy</h3>
    <p>After 10 years of war, Troy falls. Odysseus begins his journey home to Ithaca, but the gods have other plans...</p>
  </div>
  <div class="location-marker">
    <img src="/me/troy-icon.png" alt="Troy" width="128" height="128" />
  </div>
  <div class="encounter-animation" id="troy-animation">
    <!-- Troy-specific animations can go here -->
  </div>
</div> 