---
// Underworld encounter component
---

<style>
  @import './encounter-styles.css';
</style>

<div class="encounter" id="underworld" style="top: 0%;">
  <div class="location-marker">
    <img src="/me/underworld.png" alt="Underworld" width="256" height="256" />
  </div>
</div> 